name: CI

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        host:
          - macos-26
          - macos-15-intel
          - macos-15
          - macos-14
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - ubuntu-22.04
          - ubuntu-22.04-arm
        name: 
          - torrentcheck

    name: ${{ matrix.host }} ${{ matrix.name }}

    runs-on: ${{ matrix.host }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Tap Dir
        run: mkdir -p "$(brew --repo)/Library/Taps/$(dirname "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')"

      - name: Tap Link
        run: ln -s "$PWD" "$(brew --repo)/Library/Taps/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')"

      - name: Taps
        run: brew tap

      - name: Info
        run: brew info "${{ matrix.name }}"

      - name: Install
        run: brew install -v "${{ matrix.name }}"

      - name: Installed
        run: brew info "${{ matrix.name }}"

      - name: Audit
        run: brew audit --except=file,specs "${{ matrix.name }}"
        if: ${{ !(startsWith(matrix.host, 'ubuntu-') && endsWith(matrix.host, '-arm')) }}

      # - name: Test
      #   run: brew test "${{ matrix.name }}"
      #   if: ${{ !(startsWith(matrix.host, 'ubuntu-') && endsWith(matrix.host, '-arm')) }}
